# Workflow name
name: Backend Continuous Integration

# Triggers for the workflow
on:
  # Manual trigger using the workflow_dispatch event
  workflow_dispatch: null
  
  # Automatic trigger on push events to the main branch
  push:
    branches:
      - main
    paths:
      - "backend/**"
      
  # Automatic trigger on pull request events targeting the main branch
  # pull_request:
  #   branches:
  #     - main
      
  # Scheduled trigger at 5:00 AM UTC, Monday through Friday
  # schedule:
  #   - cron: '0 5 * * 1-5'

# Jobs defined in the workflow
jobs:
  lint-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python 
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: "pipenv"
      - name: Run pipenv
        uses: tiagovrtr/actions-pipenv@v1
        with:
          pipenv-version: "v2023.10.24"
      - name: Pipenv install
        run: cd backend && pipenv install -d
      - name: Run lint
        run: cd backend && pipenv run lint

  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python 
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: "pipenv"
      - name: Run pipenv
        uses: tiagovrtr/actions-pipenv@v1
        with:
          pipenv-version: "v2023.10.24"
      - name: Pipenv install
        run: cd backend && pipenv install
      - name: Run test
        run: cd backend && pipenv run test
  # post-build-actions:
  #   needs: [build-and-test-1, build-and-test-2]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Publish test results
  #       uses: actions/upload-artifact@v3
  #       with:
  #         name: test-results
  #         path: test-results.xml